$theme-blue:            #00456A;
$theme-green:           #AAC016;
$theme-orange:          #F05033;
$theme-yellow:          #FEC429;
$theme-magenta:         #b12278;
$theme-teal:            #0c7f84;
$theme-black:           #111111;

// conventions icons
.speaker-convention-link {
    svg {
        width: 3em;
        height: 3em;
    }

    &.convention-shortcode svg {
        position: relative;
        top: 0.66em;
    }

    .fallback {
        display: none;

        .no-svg & {
            display: block;
            color: white;
            padding: 5px;
        }
        .no-svg &.ca { background-color: $theme-orange; }
        .no-svg &.mw { background-color: $theme-green; color: $theme-black; }
        .no-svg &.se { background-color: $theme-blue; }
        .no-svg &.tx { background-color: $theme-yellow; color: $theme-black; }
        .no-svg &.mo { background-color: $theme-magenta; }
    }
}

// exhibitors
.post-type-archive-exhibitor {
    .gdlr-blog-info.gdlr-info { display: none; }
}

// hotels
.hotels.flexbox-wrapper {
    @media (min-width: 768px) {
        display: flex;
        margin-bottom: 50px;
    }

    .columns { float: none; }

    .hotel {
        height: 100%;
        margin-bottom: 50px;
    }

    h4.sold-out ~ * {
        text-decoration: line-through;

        .sold-out { text-decoration: none; }
    }
}

// speaker grid
.speaker-item-holder {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

// ubermenu
.ubermenu {
    .speaker-list {
        list-style-type: none;

        li {
            display: inline-block;
            padding: 15px 20px;
        }

        a {
            color: #444;
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    }
}
