$theme-blue:            #00456A;
$theme-green:           #AAC016;
$theme-orange:          #F05033;
$theme-yellow:          #FEC429;
$theme-magenta:         #b12278;
$theme-teal:            #0c7f84;
$theme-gray:            #dddddd;
$theme-black:           #333333;

// conventions icons
.convention-link,
.speaker-convention-link {
    .entry-content & { box-shadow: none; }

    svg {
        width: 3em;
        max-width: 20%;
        height: 3em;
    }

    &.convention-shortcode svg {
        position: relative;
        top: 0.66em;
    }

    .fallback {
        display: none;

        .no-svg & {
            display: block;
            color: white;
            padding: 5px;
        }
        .no-svg &.ca { background-color: $theme-orange; }
        .no-svg &.mw { background-color: $theme-green; color: $theme-black; }
        .no-svg &.se { background-color: $theme-blue; }
        .no-svg &.tx { background-color: $theme-yellow; color: $theme-black; }
        .no-svg &.mo { background-color: $theme-magenta; }
    }
}

// hotels
.hotels.flexbox-wrapper {
    @media (min-width: 768px) {
        display: flex;
        margin-bottom: 50px;
    }

    .hotel {
        height: 100%;
        margin-bottom: 50px;
    }

    h4.sold-out ~ * {
        text-decoration: line-through;

        .sold-out { text-decoration: none; }
    }
}
