$theme-blue:            #00456A;
$theme-green:           #AAC016;
$theme-orange:          #F05033;
$theme-yellow:          #FEC429;
$theme-magenta:         #b12278;
$theme-teal:            #0c7f84;
$theme-gray:            #dddddd;
$theme-black:           #333333;

.text-center { text-align: center; }

// conventions icons
.convention-link,
.speaker-convention-link {
	.entry-content & { box-shadow: none; }

	.convention-icon {
		width: 3em;
		max-width: 20%;
		height: 3em;
	}

	&.convention-shortcode .convention-icon {
		position: relative;
		top: 0.66em;
	}
}

// hotels
.hotels.flexbox-wrapper {
	@media (min-width: 768px) {
		display: flex;
		margin-bottom: 50px;
	}

	.hotel {
		height: 100%;
		margin-bottom: 50px;
	}

	h4.sold-out ~ * {
		text-decoration: line-through;

		.sold-out { text-decoration: none; }
	}
}

// custom registration
.registration-choice {
	display: inline-block;
	margin: 0 1em 1em 0;
	margin-right: 0;

	&:not(.family-members) {
		cursor: pointer;
		padding: 2rem;
	}

	@at-root {
		input#{&} {
			display: none;

			&:not(:checked) + label.theme {
				background-color: $theme-gray;

				&, * { color: $theme-black; }
			}

			+ label:after {
				display: none;
				content: "\002713";
				position: absolute;
				font-size: 24px;
				top: 16px;
				right: 16px;
			}

			&:checked + label:after{ display: block; }
		}

		label#{&} {
			margin-right: 1em;
			position: relative;

			h4 { margin: 0; }

			.info { margin: 1em 0 0; }

			@media screen and (max-width: 700px) {
				width: 100%;
				text-align: center;
			}
		}
	}

	&.dashicons-before:before {
		font-size: 30px;
		height: 30px;
		width: 30px;
		margin-right: 5px;
	}
}

input#convention-se:checked ~ .products tr.product:not(.product_cat-southeast)     { display: none; }
input#convention-tx:checked ~ .products tr.product:not(.product_cat-texas)         { display: none; }
input#convention-mw:checked ~ .products tr.product:not(.product_cat-midwest)       { display: none; }
input#convention-ca:checked ~ .products tr.product:not(.product_cat-california)    { display: none; }
input#convention-mo:checked ~ .products tr.product:not(.product_cat-missouri)      { display: none; }

input#attendee-individual:checked {
	~ label[for="family-members"], // immediately following radio buttons
	~ * label[for="family-members"], // in each product row
	~ * label.qty,
	~ .products .attribute_attendee-type-family,
	~ .products .product_cat-teen-track,
	~ .products .product_cat-program-guide { display: none; }
}
input#attendee-family:checked ~ .products .attribute_attendee-type-individual { display: none; }

.register {
	input[type="number"] {
		display: inline-block;
		width: 5em;
	}

	@media screen and (max-width: 600px) {
		table.products {
			&, tbody { display: block; }
		}

		tr.product, tr.cart-totals {
			width: 100%;
			display: flex;
			flex-wrap: wrap;

			.thumb { width: 25%; }
			.title { width: 75%; }
			.price, .actions {
				width: 100%;
				text-align: center;
			}
		}
	}

	td.thumb { min-width: 50px; }

	.post-30530 {
		/* program guide ticket quantity text */
		.tickets-qty, .tickets-separator { display: none; }
	}

	/* visually disable special events */
	/* only for logged-out users, since this page doesn’t know what people have purchased in the past */
	body:not(.logged-in) & tr.product {
		&:not(.product_cat-registration) { opacity: 0.5; }

		&.added-to-cart ~ tr.product:not(.product_cat-registration) { opacity: inherit; }
	}

	.spinner {
		position: relative;
		top: 10px;
		display: inline-block;
		position: relative;
		text-indent: -9999em;
		border-top: 0.5em solid $theme-blue;
		border-right: 0.5em solid $theme-yellow;
		border-bottom: 0.5em solid $theme-green;
		border-left: 0.5em solid $theme-orange;
		transform: translateZ(0);
		animation: load8 1.1s infinite linear;

		&, &:after {
			border-radius: 50%;
			width: 2em;
			height: 2em;
		}

		&.hidden { display: none; }
	}

	@keyframes load8 {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}

.woocommerce {
	&-checkout-review-order {
		.cart_item.registration .product-quantity { display: none; } // unnecessary because of family members line
	}
}
