$theme-blue:            #00456A;
$theme-green:           #AAC016;
$theme-orange:          #F05033;
$theme-yellow:          #FEC429;
$theme-magenta:         #B12278;
$theme-teal:            #0C7F84;
$theme-pink:            #EA006D;
$theme-gray:            #dddddd;
$theme-black:           #333333;

$excluded-color:        #CC2631;
$included-color:        #58862D;
$unavailable-color:     #DCDCDC;
$individual-color:      #E6E7F7;
$family-color:          #FFF9CF;

// Convention icons.
.convention-link,
.speaker-convention-link {

	.convention-icon {
		width: 3em;
		max-width: 20%;
		height: 3em;
	}

	&.convention-shortcode .convention-icon {
		position: relative;
		top: 0.66em;
	}
}

// Hotels.
.hotel .sold-out ~ * {
	text-decoration: line-through;

	.sold-out { text-decoration: none; }
}

// Register shortcode.
.register.shortcode {

	// Hide all radio buttons.
	input[type="radio"].filter { display: none; }

	// Set up conventions filters.
	$conventions: south-carolina texas ohio california missouri new-york florida;
	@each $convention in $conventions {
		input.filter#convention-filter-#{$convention}:checked {
			~ .filter-target:not(.#{$convention}),
			~ .products .filter-target:not(.#{$convention}) {
				display: none;
			}
		}
	}

	// Handle individual vs. family attendees.
	input[id*="attendee-type-individual"]:checked {
		~ .products td.actions:not(.add-to-cart),
		~ .products .filter-target[class*="attendee-type-family"],
		~ .products .teen-track,
		~ .products .program-guide { display: none; }
	}
	input[id*="attendee-type-family"]:checked ~ .products .filter-target[class*="attendee-type-individual"] { display: none; }

	// Handle shopping vs. full convention ticket types.
	input[id*="ticket-type-full-convention"]:checked ~ .products .filter-target[class*="ticket-type-shopping-only"] { display: none; }
	input[id*="ticket-type-shopping-only"]:checked ~ .products {
		.filter-target[class*="ticket-type-full-convention"],
		.filter-target[class*="special-events"] { display: none; }
	}

	// Attribute icons general styles.
	label[for="individual"]:before,
	label[for="family"]:before,
	label[for="full-convention"]:before,
	label[for="shopping-only"]:before {
		display: inline-block;
		font-family: dashicons;
		line-height: 1;
		width: 1em;
		height: 1em;
		position: relative;
		top: 0.1em;
		margin-right: 0.2em;
	}

	// Attribute icon individual icons.
	label[for="individual"]:before { content: "\f110"; }
	label[for="family"]:before { content: "\f307"; }
	label[for="full-convention"]:before { content: "\f155"; }
	label[for="shopping-only"]:before { content: "\f174"; }


	table.products {
		input[type="number"] {
			display: inline-block;
			width: 5em;
		}

		td.thumb {
			min-width: calc(50px + 2em);
		}

		td.actions {
			min-width: 14em;
		}

		@media screen and (max-width: 600px) {
			table.products {
				&, tbody { display: block; }
			}

			tr.product, tr.cart-totals {
				width: 100%;
				display: flex;
				flex-wrap: wrap;

				.thumb { width: 25%; }
				.title { width: 75%; }
				.price, .actions {
					width: 100%;
					text-align: center;
				}
			}
		}

		.post-30530 {
			// Program guide ticket quantity text.
			.tickets-qty, .tickets-separator { display: none; }
		}
	}

	.woocommerce {
		&-checkout-review-order {
			.cart_item.registration .product-quantity { display: none; } // Product quantity is unnecessary because of family members line.
		}
	}
}

// Price sheets.
table.price-sheet {
	margin-bottom: 1em;
	border-collapse: collapse;

	&.south-carolina th { background-color: $theme-blue; }
	&.texas th { background-color: $theme-yellow; }
	&.ohio th { background-color: $theme-green; }
	&.california th { background-color: $theme-orange; }
	&.missouri th { background-color: $theme-magenta; }
	&.new-york th { background-color: $theme-teal; }
	&.florida th { background-color: $theme-pink; }

	&.south-carolina, &.ohio, &.california, &.missouri {
		th, th a { color: white; }
		a { font-weight: 700; }
	}

	caption, .spacer {
		font-weight: 700;
		font-size: 1.2em;
	}

	th, td {
		text-align: center;

		&:first-child { text-align: left; }
	}

	.excluded, .included, .price, .available, .unavailable {
		border: 1px solid $unavailable-color;
	}

	.excluded, .included {
		font-size: 2em;
		font-weight: 700;
	}

	.excluded {
		background-color: lighten($excluded-color, 50%);
		color: $excluded-color;
		border-color: $excluded-color;
	}

	.included {
		background-color: lighten($included-color, 50%);
		color: $included-color;
		border-color: $included-color;
	}

	.available {
		font-weight: 700;
		background-color: $family-color;
		color: $included-color;
		border-color: $included-color;
	}

	.unavailable { background-color: $unavailable-color; }

	.price {
		&.individual { background-color: $individual-color; }
		&.family { background-color: $family-color; }
	}

	dd { font-size: smaller; }

	@media screen and (min-width: 768px) {
		th, td { padding: 13px; }

		.included, .excluded, .available {
			vertical-align: middle;
		}
	}

	@media screen and (max-width: 767px) {
		thead { display: none; }

		tr {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 1em;
		}

		th, td {
			display: block;
			padding: 6px;
		}

		th, .spacer { width: 100%; }

		td {
			width: 33.3%;

			&:not(:last-child) { border-right: none; }

			&.price {
				width: 50%;
				text-align: left;

				&.door { width: 100%; }
				&.unavailable { display: none; }
			}

			&:before {
				content: attr(aria-label);
				display: block;
				width: 100%;
				text-align: center;
				font-size: 14px;
				font-weight: 500;
			}
		}
	}
}
